*.idea
*.iml
*.csv
*.exe
*.jpg
*.pnl
*.jpeg
*.log
*.processed
*.parquet
*.cache
*.xlsx
*.pyc
_snapshots
database


!dukascopy_input/settingsDukas.JPG
!mock_*.csv
!**/dukascopy_test/*.csv
!**/ratio_test/*.xlsx